USE [FLSTest]
GO

DELETE FROM [dbo].[EmailTemplates];

GO



UPDATE [dbo].[EmailTemplates] SET [IsCustomizable] = 1 where EmailTemplateKeyName = 'emailconfirmation' 
OR EmailTemplateKeyName = 'lostpassword' OR EmailTemplateKeyName = 'planningday-ok' OR EmailTemplateKeyName = 'planningday-cancel'  
GO





GO