@model FLS.Server.WebApi.Models.ExternalChallangeResultViewModel

@{
    ViewBag.Title = "ExternalChallange";
    Layout = "~/Shared/_LayoutEmpty.cshtml";
}

@if(Model.Failed)
{
    <h2>Authentication failed!</h2>
    <div class="alert alert-danger" role="alert">@Model.ErrorMessage</div>
}
else
{
    <h2>Authentication succeeded!</h2>
    <div class="alert alert-success" role="alert">please close...</div>
}

